/* src/components/Home.css */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .home {
    text-align: center;
    color: #e0e0e0;
  }
  
  .hero {
    background: linear-gradient(60deg, #6d5dfc, #00d4ff);
    color: white;
    padding: 100px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    animation: fadeIn 500ms ease-in-out;
  }

 

  .profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border-radius: 9999px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
      /* box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16); */
    /* transition: all ease-in-out .2s; */
  
  }

  .welcome {
    font-size: 40px;
    font-weight: bold ;
    font-family: 'Poppins', sans-serif; 
  }
  
  /* .profile-picture:hover {
    box-shadow: 0 8px 12px 0 rgba(34,60,80,.16);
  } */
  
  .hero-content {
    text-shadow: 1px 1px 2px black;
    opacity: 0;
    animation: fadeIn 500ms ease-in-out forwards;
    /* animation-delay: 0.5s; */
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  
  .hero button {
    background: linear-gradient(45deg, #00d4ff, #6d5dfc);
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1rem;
    transition: background 0.3s ease;
    font-family: 'Roboto', sans-serif;
  }
  
  .hero button:hover {
    background: linear-gradient(45deg, #6d5dfc, #00d4ff);
  }
  
  .projects-container-home {
    padding: 20px;
    background-color: #1e1e2f;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.6); */
    box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.6);
    /* animation: fadeIn 500ms ease-in-out; */
    font-family: 'Poppins', sans-serif; 
    margin-top: 100px;
  }
    
  .projects {
    /* text-shadow: 1px 1px 2px #00d4ff; */
    padding: 60px 20px;
    background: rgba(255, 255, 255, 0.1);
    /* animation: fadeIn 500ms ease-in-out; */
    font-family: 'Poppins', sans-serif; 
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #00d4ff;
  }
  
  .project-cards {
    display: grid;
    gap: 20px;
    animation-delay: 0.5s;
    font-family: 'Poppins', sans-serif; 
    animation: fadeIn 500ms ease-in-out;
    grid-template-columns: repeat(auto-fit, minmax(300px, calc(50% - 2rem)));
  }
  
  .card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 0px 15px rgba(0, 212, 255, 0.6);
    text-align: left;
  }
  
  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.15);
  }
  
  .card h3 {
    color: #00d4ff;
    margin-bottom: 10px;
    animation-delay: 0.5s;
    text-align: left;
  }
  
  .card p {
    color: #e0e0e0;
  }
  
  @media (max-width: 768px) {
    header nav ul {
      flex-direction: column;
    }
  
    header nav ul li {
      margin: 10px 0;
    }
  
    footer {
      padding: 15px 0;
    }
  
    main {
      padding: 60px 10px 80px;
    }
  }
  